# 번역 서버 URL (로컬 개발용)
TRANSLATOR_URL=http://localhost:5003

# Database
DATABASE_URL=
DB_HOST=
DB_PORT=
DB_PASSWORD=
DB_USER=
DB_NAME=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app


# Arcjet
ARCJET_API_KEY=

# Social Providers
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=-
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_BASIC_PRICE_ID=
STRIPE_PRO_PRICE_ID=

